<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>About</title>
</head>
  <body>
    <header>
      <nav>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main>
      <div style="text-align:left">
        <h2>About</h2>
        <p>I am currently studying Computer Programming at Seneca College. My interests include web development, 
            machine learning, and data analysis. My goal is to become a good developer and work on projects that 
            can make a positive impact on society.</p>
      </div>
      <div style="text-align:right">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates and new features on this blog.</p>
      </div>
    </main>
    <footer>
      <p>WEB322 - Anna Sychikova</p>
      <nav>
        <a href="/posts">Posts</a>
        <a href="/categories">Categories</a>
      </nav>
    </footer>
  </body>
</html>