<!--Anna Sychikova-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link href="./css/main.css" rel="stylesheet" type="text/css" media="all">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Stalinist+One&display=swap" rel="stylesheet"> 

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <title>About</title>
</head>
  <body>
    <p class="welcome">Welcome!</p>
    <main>
  <div class="container" style="background-color: rgba(0, 0, 0, 0.622);">
    <div class="row">
      <div class="left">
        <h2>About</h2>
        <p>As a student of Computer Programming at Seneca College, I have developed a passion for technology and its role in shaping our world.</p>
        <h2>Interests</h2>
        <p>My interests lie in the fields of web development, software development, and data analysis, as these areas allow for a creative expression of technical skills. I am also interested in fashion and digital drawing. I try to keep up with trends in interface and visual presentation design. Although I am just starting out, I always aim to produce something interesting, visually pleasing, and memorable.</p>
        <p>I believe that technology has the power to transform lives, and this is what drives me to become a better developer. I am constantly seeking out new challenges and opportunities to improve my skills and work on projects. I believe that by combining my technical expertise with my desire to make a difference, in a future I can create meaningful and impactful projects.</p>
      </div>
      <div class="right">
        <h2>Coming Soon...</h2>
        <p>Stay turned for forthcoming updates and additional capabilities on this blog.</p>
        <h2>Goal</h2>
        <p>Moreover, I am highly committed and enthusiastic about my studies at Seneca College, where I learn about cutting-edge technologies and techniques to reach my objectives. Ultimately, my goal is to become a proficient developer who can harness technology for the betterment of society. I am driven by my love for technology and my aim to create positive change. I am confident that my education and motivation will enable me to fulfill my dream of solving problems through innovation, thinking, analysis, and creation.</p>
      </div>
    </div>
  </div>
</main>
  <footer>
      <div>
        <p>Contact me <a style="color: rgb(255, 191, 64); text-decoration: none;" href="mailto:someone@example.com">asychikova@myseneca.ca</a></p>
      </div>
  </footer>
  </body>
</html>