<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link href="./css/main.css" rel="stylesheet" type="text/css" media="all">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">


    <title>About</title>
</head>
  <body>
      <header>
        <nav>
          <ul>
            <p>WEB322 - Anna Sychikova</p>
            <li><a style="color: rgb(255, 191, 64)" href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/categories">Categories</a></li>
          </ul>
        </nav>
      </header>

    <main>
      <div style="text-align:left">
        <h2>About</h2>
        <p>As a student of Computer Programming at Seneca College, I have developed a strong passion for technology and its role in shaping our world. My interests lie in the fields of web development, machine learning, and data analysis, as these areas allow for a creative expression of technical skills.

          I believe that technology has the power to transform lives, and this is what drives me to become a better developer. I am constantly seeking out new challenges and opportunities to improve my skills and work on projects. I believe that by combining my technical expertise with my desire to make a difference, in a future I can create meaningful and impactful projects that can improve people's lives.
          
          In addition, I am highly motivated and committed to my studies at Seneca College, where I am learning the latest technologies and methodologies to help me achieve my goal. In conclusion, my ultimate goal is to become a skilled developer who can use technology to make a positive impact on society. I am driven by my passion for technology and my commitment to making a difference, and I am confident that my education and hard work will help me to achieve my dream.</p>
      </div>
      <div style="text-align:left">
        <h2>Coming Soon...</h2>
        <p>Stay turned for forthcoming updates and additional capabilities on this blog.</p>
      </div>
    </main>
  </body>
  <footer>
    <p>
      <div>
      Contact me: asychikova@myseneca.ca
      </div>
    </p>
  </footer>
</html>