<!--Anna Sychikova-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/form.css" rel="stylesheet" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Stalinist+One&display=swap" rel="stylesheet"> 

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <title>Add Post</title>
</head>
<body>
    <div class="container">
    <form id="add-post-form" action="/posts/add" method="POST" enctype="multipart/form-data"> 
      <h1 class="form">Add Post</h1-form>
      <h3 class="form" name="featureImage">Feature Image</h3>
      <hr>
      <input  class="form-control" type="file" name="featureImage" id="formFileMultiple" multiple="" value="Choose">
      <h3>Post Content</h3>
      <hr>
      <h4 class="form">Title:</h4>
      <textarea id="title" rows="1" name="title"></textarea>
      <h4>Body:</h4>
      <textarea id="body" rows="3" name="body"></textarea>
      <div class="postcontent1">
        <label for="visibility" >Category:</label>
        <label for="published" >Visibility:</label>
      </div>
      <div class="postcontent2">
        <select id="category" class="select-cat" id="category" name="category">
          <option value=1>Technology</option>
          <option value=2>Gaming</option>
          <option value=3>Fashion</option>
          <option value=4>Education</option>
          <option value=5>Wellness</option-->
        </select>
        <input type="checkbox" class="published" style="margin-left: 25%;" id="published" name="published" value="true">
        <label class="custom-control-label" for="published-input">Published</label>
      </div>
      <hr>
      <button type="submit" id="submit-button">Add Post</button>
    </form>
  </div>
</body>
</html>


